<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="~/argon-dashboard/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Dashboard/Index">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Feature/Index">
                            <i class="ni ni-planet text-orange"></i>
                            <span class="nav-link-text">Öne Çıkan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/Index">
                            <i class="ni ni-satisfied text-danger"></i>
                            <span class="nav-link-text">Hakkımda</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Service/Index">
                            <i class="ni ni-ruler-pencil text-success"></i>
                            <span class="nav-link-text">Hizmetlerim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Skill/Index/">
                            <i class="ni ni-ui-04 text-danger"></i>
                            <span class="nav-link-text">Yeteneklerim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Portfolio/Index ">
                            <i class="ni ni-laptop text-info"></i>
                            <span class="nav-link-text">Projelerim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Experience/Index">
                            <i class="ni ni-archive-2 text-purple"></i>
                            <span class="nav-link-text">Deneyimlerim ve Eğitimlerim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Testimonial/Index">
                            <i class="ni ni-like-2 text-gray"></i>
                            <span class="nav-link-text">Referenaslarım</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index">
                            <i class="ni ni-notification-70 text-yellow"></i>
                            <span class="nav-link-text">İletişim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Message/Index">
                            <i class="ni ni-send text-cyan"></i>
                            <span class="nav-link-text">Mesajlar</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Site</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">
                            <i class="ni ni-app text-dark"></i>
                            <span class="nav-link-text">Ayarlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">
                            <i class="ni ni-bullet-list-67 text-dark"></i>
                            <span class="nav-link-text">İstatistikler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Default/Index" target="_blank">
                            <i class="ni ni-ui-04"></i>
                            <span class="nav-link-text">Siteye Git!</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">
                            <i class="ni ni-button-power text-dark"></i>
                            <span class="nav-link-text">Çıkış Yap!</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>