<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="../../index.html"><img src="~/corona/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="~/corona/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="~/corona/template/assets/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">Efrun Evdi</h5>
                        <span>Admin</span>
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Yönlendirme</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Dashboard/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Feature/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-account-search"></i>
                </span>
                <span class="menu-title">Öne Çıkan</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/About/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-account-card-details"></i>
                </span>
                <span class="menu-title">Hakkımda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Service/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-book-open-page-variant"></i>
                </span>
                <span class="menu-title">Hizmetlerim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Skill/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-cash-100"></i>
                </span>
                <span class="menu-title">Yeteneklerim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Portfolio/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop-chromebook"></i>
                </span>
                <span class="menu-title">Projelerim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Experience/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-wallet-travel"></i>
                </span>
                <span class="menu-title">Deneyimlerim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Testimonial/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-comment-check-outline"></i>
                </span>
                <span class="menu-title">Referenaslarım</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Contact/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-phone"></i>
                </span>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Message/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-message-text-outline"></i>
                </span>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="///">
                <span class="menu-icon">
                    <i class="mdi mdi-settings-box"></i>
                </span>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="///">
                <span class="menu-icon">
                    <i class="mdi mdi-chart-bar"></i>
                </span>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Default/Index">
                <span class="menu-icon">
                    <i class="mdi mdi-minecraft"></i>
                </span>
                <span class="menu-title">Siteye Git!</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="///">
                <span class="menu-icon">
                    <i class="mdi mdi-logout"></i>
                </span>
                <span class="menu-title">Çıkış Yap!</span>
            </a>
        </li>
    </ul>
</nav>