@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 403 Forbidden Console Theme #CodePenChallenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/403errorpage/dist/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <h1>403</h1>
    <div>
        <p>> <span>HATA KODU</span>: "<i>HTTP 403 Yasak</i>"</p>
        <p>> <span>HATA AÇIKLAMASI</span>: "<i>Erişim Reddedildi. Bu Sunucuda Bu Sayfaya Erişim İzniniz Yok</i>"</p>
        <p>> <span>HATA OLASI NEDENİ</span>: [<b>yürütme erişimi yasak, okuma erişimi yasak, yazma erişimi yasak, ssl gerekli, ssl 128 gerekli, ip adresi reddedildi, istemci sertifikası gerekli, site erişimi reddedildi, çok fazla kullanıcı, geçersiz yapılandırma, şifre değişikliği, eşleyici reddedildi erişim, istemci sertifikası iptal edildi, dizin listesi reddedildi, istemci erişim lisansları aşıldı, istemci sertifikası güvenilmez veya geçersiz, istemci sertifikasının süresi doldu veya henüz geçerli değil, pasaport oturumu açılamadı, kaynak erişimi reddedildi, sonsuz derinlik reddedildi, sunucudan çok fazla istek geldi aynı istemci ip</b>...]</p>
        <p>> <span>BU SUNUCU ÜZERİNDEKİ ERİŞİM İZNİNİZ OLAN BAZI SAYFALAR</span>: [<a href="/Default/Index">Ana Sayfa</a>, <a href="/Writer/Login/Index">Giriş Yap!</a>, <a href="/Writer/Register/Index">Kayıt ol!</a>]</p><p>> <span>İYİ GÜNLER :-)</span></p>
    </div>

    <a class="avatar" href="https://www.linkedin.com/in/efruncetkin/" title="❤"><img src="/template/images/efrun.jpg" /></a>
    <!-- partial -->
    <script src="~/403errorpage/dist/script.js"></script>

</body>
</html>
