@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@await Component.InvokeAsync("FeatureStatistics")

<div class="row">
    @await Component.InvokeAsync("PriceDetails")

    @await Component.InvokeAsync("Last5Projects")

</div>

@await Component.InvokeAsync("StatisticsDashboard2")

@await Component.InvokeAsync("ProjectList")

<div class="row">
    @await Component.InvokeAsync("MessageList")

    @await Component.InvokeAsync("SlideList")

    @await Component.InvokeAsync("ToDoListPanel")
</div>

@await Component.InvokeAsync("VisitorMap")
