<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><a href="https://www.efrunevdi.com/" target="_blank">Efrun Evdi Kullanıcı Paneli</a> Tüm hakları saklıdır.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">El yapımı göz nuru :)  <i class="ti-heart text-danger ml-1"></i></span>
    </div>
</footer>