@model Skill

@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-12 order-xl-1">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Yeni Yetenek Ekleme Formu </h3>
                </div>
                <div class="col-4 text-right">
                    <a href="/Skill/Index/" class="btn btn-sm btn-primary">Yeteneklerim</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <h6 class="heading-small text-muted mb-4">YETENEK BİLGİLERİ</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Yetenek Adı : </label>
                                <input type="text" id="input-username" class="form-control" asp-for="Title" placeholder="Yetenek adı giriniz.">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Yetenek Oranı (%)</label>
                                <input type="text" id="input-email" class="form-control" asp-for="Value" placeholder="Yetenek yüzdesini giriniz.">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary col-12">Yeni Yetenek Ekle!</button>
            </form>
        </div>
    </div>
</div>

