@model List<MessageViewModel>

<li class="nav-item dropdown border-left">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        <i class="mdi mdi-email"></i>
        <span class="count bg-success"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">Son Mesajlar</h6>
        @foreach (var item in Model)
        {
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="/AdminMessage/Inbox">
                <div class="preview-thumbnail">
                    <img src="@item.SenderImage" alt="image" class="rounded-circle profile-pic">
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">@item.SenderName sana mesaj gönderdi.</p>
                    <p class="text-muted mb-0"> @(((DateTime)item.Date).ToString("dd MMMM yyyy")) </p>
                </div>
            </a>
        }

        <div class="dropdown-divider"></div>
        <p class="p-3 mb-0 text-center">@Model.Count() Yeni Mesaj</p>
    </div>
</li>
