@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Kutusu</h4>
                <p class="card-description">A simple timeline</p>
                <div class="mt-5">
                    <div class="timeline">
                        <div class="timeline-wrapper timeline-wrapper-primary">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h6 class="timeline-title">Bootstrap 5 Beta</h6>
                                </div>
                                <div class="timeline-body">
                                    <p>Two years in the making, we finally have our first beta release of Bootstrap 5.</p>
                                </div>
                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    <i class="ti-heart text-muted me-1"></i>
                                    <span>19</span>
                                    <span class="ml-md-auto font-weight-bold">19 Oct 2017</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h6 class="timeline-title">Bootstrap 5 Alpha 6</h6>
                                </div>
                                <div class="timeline-body">
                                    <p>Alpha 6 has landed, and it’s one of our biggest ships to date.</p>
                                </div>
                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    <i class="ti-heart text-muted me-1"></i>
                                    <span>25</span>
                                    <span class="ml-md-auto font-weight-bold">10th Aug 2017</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

